@layer base {
  @font-face {
    font-family: "NeueBit";
    src: url("./fonts/NeueBit-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
}