@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @responsive {
    .text-shadow {
      text-shadow: 3px 3px 1px #5b6bb3;
    }
  }
}

button:focus {
  outline: none
}

/* read-more-less */
.rm-typography {
  color: var(--color-gray-default)
}

.rm-more-button, .rm-less-button {
  color: #82826f
}
